@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 80px;
}

h1 {
  text-align: center;
}

.posts {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
  }
}

.bold {
  font-weight: bold;
}